doc/bookRepo/
pre/python/minimal-django-file-upload-example
*.pyc
pre/*.pyc
dev/*.pyc
pre/*
*.xml
dev/backend/files/
dev/backend/files/*
dev/backend/pics/
dev/backend/pics/*
dev/frontend/node_modules
dev/frontend/node_modules/**/*
dev/frontend/bower_components
dev/frontend/node_modules/*
dev/frontend/.sass-cache/
dev/frontend/.sass-cache/*
*/.sass-cache/*
*/.sass-cache/
.sass-cache/*
