doc/bookRepo/
pre/python/minimal-django-file-upload-example
*.pyc
pre/*.pyc
dev/*.pyc
pre/*
*.swp
*.xml
dev/backend/db.sqlite3
dev/backend/.idea/
dev/backend/files/
dev/backend/pics/
dev/frontend/node_modules
dev/frontend/bower_components
dev/frontend/node_modules/*
dev/frontend/.sass-cache/
*/.sass-cache/*
.sass-cache/*
