doc/bookRepo/
pre/python/minimal-django-file-upload-example
*.pyc
pre/*.pyc
dev/*.pyc
pre/*
*.swp
*.xml
*~
.~*
dev/backend/rest/migrations
dev/backend/ddbb/db.sqlite3
dev/backend/.idea/
dev/backend/data/files/
dev/backend/data/pics/
dev/frontend/node_modules
dev/frontend/bower_components
dev/frontend/app/dist/
dev/frontend/app/stylesheets/.sass-cache/
*/.sass-cache/*
.sass-cache/*
