/* line 2, sass/style.scss */
body #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
/* line 8, sass/style.scss */
body .search-field span {
  display: block;
}
/* line 12, sass/style.scss */
body #searchResults .name {
  cursor: pointer;
}
/* line 16, sass/style.scss */
body .active {
  background-color: #8ec16d;
}
/* line 20, sass/style.scss */
body #searchResultsList .name {
  cursor: pointer;
}
/* line 24, sass/style.scss */
body .container-fliud .name:hover {
  background-color: #E58079;
}
