/* line 3, sass/style.scss */
html, body {
  height: 100vh;
  margin: 0 auto;
  padding-top: 00px;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* line 11, sass/style.scss */
.container .row .col-md-6 {
  height: 100vh;
  overflow: auto;
}

/* line 18, sass/style.scss */
body #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
/* line 24, sass/style.scss */
body .search-field span {
  display: block;
}
/* line 28, sass/style.scss */
body #searchResults .name {
  cursor: pointer;
}
/* line 32, sass/style.scss */
body .active {
  background-color: #8ec16d;
}
/* line 36, sass/style.scss */
body #searchResultsList .name {
  cursor: pointer;
}
/* line 40, sass/style.scss */
body .container-fluid .name:hover {
  background-color: #E58079;
}

/* line 45, sass/style.scss */
#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color: #f5f5f5;
  float: left;
  height: 93%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 56, sass/style.scss */
#main {
  overflow: auto;
}

/* line 59, sass/style.scss */
.button {
  -moz-appearance: button;
  /* Firefox */
  -webkit-appearance: button;
  /* Safari and Chrome */
  padding: 10px;
  margin: 10px;
  width: 70px;
}

/* line 68, sass/style.scss */
.drop-box {
  border: 2px dashed #aaceec;
  padding-top: 25px;
  margin: 10px;
}

/* line 73, sass/style.scss */
.dragover {
  border: 4px dashed #aace4e;
}

@media screen and (max-width: 768px) {
  /* line 78, sass/style.scss */
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width: calc(100% + 220px);
  }

  /* line 86, sass/style.scss */
  .row-offcanvas-left {
    left: -220px;
  }

  /* line 90, sass/style.scss */
  .row-offcanvas-left.active {
    left: 0;
  }

  /* line 94, sass/style.scss */
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}
/* line 100, sass/style.scss */
.top-buffer {
  margin-top: 16px;
}

/* line 104, sass/style.scss */
.top-md-buffer {
  margin-top: 24px;
}

/* line 108, sass/style.scss */
.top-lg-buffer {
  margin-top: 64px;
}

/* line 112, sass/style.scss */
.left-md-buffer {
  margin-left: 24px;
}

/* line 116, sass/style.scss */
.left-lg-buffer {
  margin-left: 64px;
}

/* line 120, sass/style.scss */
.link-filter:hover {
  cursor: pointer;
}

/* line 124, sass/style.scss */
.container {
  padding-left: 24px;
}

/* line 128, sass/style.scss */
div.notes-container {
  margin-left: 12px;
  margin-right: 12px;
}

/* line 134, sass/style.scss */
ul.nav.nav-pills.nav-stacked.files a.file {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: black;
  padding-right: 12px;
  border: none;
  padding: auto  12px;
}
/* line 146, sass/style.scss */
ul.nav.nav-pills.nav-stacked.files a.file span.label {
  font-weight: lighter;
  font-size: 14px;
  margin-right: 4px;
}
/* line 152, sass/style.scss */
ul.nav.nav-pills.nav-stacked.files a.file span.label.filetype {
  min-width: 100px;
  display: inline-block;
}
/* line 157, sass/style.scss */
ul.nav.nav-pills.nav-stacked.files a.file i {
  font-size: 14px;
  margin-left: 12px;
}
/* line 163, sass/style.scss */
ul.nav.nav-pills.nav-stacked.files a.file:hover {
  background-color: #ecf4fb !important;
  cursor: pointer;
}

/* line 170, sass/style.scss */
ul.nav.nav-pills.nav-stacked.notes a.note {
  padding-right: 12px;
  border: none;
  padding: auto  12px;
}
/* line 175, sass/style.scss */
ul.nav.nav-pills.nav-stacked.notes a.note span.text {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: black;
}
/* line 185, sass/style.scss */
ul.nav.nav-pills.nav-stacked.notes a.note span.label {
  min-width: 200px;
  display: inline-block;
  font-weight: lighter;
  font-size: 14px;
  margin-right: 4px;
}
/* line 193, sass/style.scss */
ul.nav.nav-pills.nav-stacked.notes a.note i {
  font-size: 14px;
}
/* line 198, sass/style.scss */
ul.nav.nav-pills.nav-stacked.notes a.note:hover {
  background-color: #ecf4fb !important;
  cursor: pointer;
}

/* line 204, sass/style.scss */
span.level-label {
  min-width: 200px;
  display: inline-block;
  font-weight: lighter;
  font-size: 14px;
  margin-right: 4px;
}

/* line 213, sass/style.scss */
.navbar {
  margin-bottom: 2px;
}

/* line 218, sass/style.scss */
.subjects li.list-group-item {
  border: none;
}

/* line 223, sass/style.scss */
span.subjects-header {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: auto;
  line-height: 19.8px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
}

/* line 237, sass/style.scss */
ul.subjects-list li {
  cursor: pointer;
}

/* line 242, sass/style.scss */
.subject-files-box {
  height: 100%;
}
