<div class="modal-header">
	<div class="row">
		<h3 class="col-md-10 modal-title" ng-show="!editMode">
			<span class="label label-default">{{note.level.name}}</span> 
			{{note.topic}}
		</h3>
		<i ng-show="!editMode" class="col-md-2 pull-right">by {{note.author.name}}</i> 
	</div>
	<div class="row">
	      <div class="col-xs-4">
				<select ng-show="editMode" class="form-control" ng-init="newNote.level = levelsUnested[levelIndex]" ng-model="newNote.level" ng-options="level.name for level in levelsUnested">
				</select>
	      </div>
	      <div class="col-xs-8">
			<input ng-show="editMode" type="text" class="form-control" id="name" placeholder="Note's topic" ng-model="newNote.topic">
	      </div>
	</div>				
</div>
<div class="modal-body">
	<div ng-show="editMode" id="replyForm">
		<form role="form" name="form">
			<textarea type="text" class="form-control" id="text" placeholder="Note's mesasge" ng-model="newNote.text"></textarea>
		</form>
	</div>
	<div ng-show="!editMode">
		<p ng-show="note.text">{{note.text}}</p>
		<p ng-show="!note.text"><i>This file has no description</i>.</p>
	</div>
</div>
<div class="modal-footer" ng-show="!editMode" > 
	<div class="pull-right col-md-6">
	    <div class="col-md-6"> 
			<button ng-click="editMode = !editMode" ng-show="!editMode" type="button" class="btn btn-primary btn-block fa fa-pencil fa-lg" aria-label="Left Align"> 
				Edit
		</div>
	    <div class="col-md-6"> 
			<button ng-click="deleteNote()" type="button" class="btn btn-danger btn-block fa fa-trash fa-lg" aria-label="Left Align"> 
				Delete
			</button>
		</div>
	</div>
</div>
<div class="modal-footer" ng-show="editMode" > 
	<div class="pull-right col-md-6">
	    <div class="col-md-6 col-md-offset2"> 
			<button ng-click="saveNewNote(newNote)" type="button" class="btn btn-success btn-block fa fa-floppy-o fa-lg" aria-label="Left Align"> 
				Save
			</button>
		</div>
	</div>
</div>
