<div class="modal-header">
	<h3 class="modal-title" ng-show="!editMode">[{{file.fileType.name}}] {{file.name}}.{{file.file | split:'.':1}}</h3>
	<div class="row">
	      <div class="col-xs-3">
				<select ng-show="editMode" class="form-control" ng-init="fileTypeSelected = fileTypes[filesFileTypeIndex]" ng-model="fileTypeSelected" ng-options="fileType.name for fileType in fileTypes">
				</select>
	      </div>
	      <div class="col-xs-9">
			<input ng-show="editMode" type="text" class="form-control" id="name" placeholder="File's name" ng-model="newFileInfo.name">
	      </div>
	</div>				
</div>
<div class="modal-body">
	<div ng-show="editMode" id="replyForm">
		<form role="form" name="form">
			<textarea type="text" class="form-control" id="text" placeholder="File's description" ng-model="newFileInfo.text"></textarea>

			<button type="submit" class="btn btn-default" ng-click="saveFileInfo(newFileInfo)">
				Save
			</button>

		</form>
	</div>
	<div ng-show="!editMode">
		<p ng-show="file.text">{{file.text}}</p>
		<p ng-show="!file.text"><i>This file has no description</i>.</p>
	</div>

	<button ng-click="editMode = !editMode" type="button" class="btn btn-default" aria-label="Left Align"> 
		Edit file info
	</button>
	<button ng-click="downloadFile(file)" type="button" class="btn btn-default" aria-label="Left Align"> 
		Download
	</button>
	<button ng-click="deleteFile(file)" type="button" class="btn btn-default" aria-label="Left Align"> 
		Delete
	</button>

</div>