<div class="modal-header">
	<h3 class="modal-title">Upload a new file</h3>
</div>
<div class="modal-body">
	<form role="form" name="form">
		<div class="form-group">
			<label for="topic">Name:</label>
			<input type="text" class="form-control" id="topic" placeholder="File's name" ng-model="newFileInfo.name">

			<label for="topic">File's type:</label>
			<select class="form-control" ng-init="fileTypeSelected = fileTypes[filesFileTypeIndex]" ng-model="fileTypeSelected" ng-options="fileType.name for fileType in fileTypes">
			</select>

			<label for="topic">Description:</label>
			<input type="text" class="form-control" id="topic" placeholder="File's description" ng-model="newFileInfo.text">
		</div>
	</form>
	<div class="modal-footer">
		<button type="submit"  type="button" class="btn btn-success btn-block fa fa-floppy-o fa-lg" aria-label="Left Align" ng-click="uploadNewFile(newFileInfo)">
			Upload
		</button>
	</div>
</div>