<div class="modal-header">
	<div class="row">
		<h3 class="col-md-10 modal-title" ng-show="!editMode">
			<span class="label label-default" ng-style="setFiletypeBadgeColor(file.fileType.name)">{{file.fileType.name}}</span> 
			{{file.name}}
		</h3>
	</div>
	<div class="row">
	      <div class="col-xs-2">
				<select ng-show="editMode" class="form-control" ng-init="fileTypeSelected = fileTypes[filesFileTypeIndex]" ng-model="fileTypeSelected" ng-options="fileType.name for fileType in fileTypes">
				</select>
	      </div>
	      <div class="col-xs-10">
			<input ng-show="editMode" type="text" class="form-control" id="name" placeholder="File's name" ng-model="newFileInfo.name">
	      </div>
	</div>				
</div>
<div class="modal-body">
	<div ng-show="editMode" id="replyForm">
		<form role="form" name="form">
			<textarea type="text" class="form-control" id="text" placeholder="File's description" ng-model="newFileInfo.text"></textarea>
		</form>
	</div>
	<div ng-show="!editMode">
		<p ng-show="file.text">{{file.text}}</p>
		<p ng-show="!file.text"><i>This file has no description</i>.</p>
	</div>
</div>
<div class="modal-footer" ng-show="!editMode" > 
	<div class="pull-right col-md-12">
	    <div class="col-md-4"> 
			<button ng-click="editMode = !editMode" ng-show="!editMode" type="button" class="btn btn-primary btn-block fa fa-pencil fa-lg" aria-label="Left Align"> 
				Edit
		</div>
	    <div class="col-md-4"> 
			<button ng-click="downloadFile(file)" ng-show="!editMode" type="button" class="btn btn-default btn-block fa fa-download fa-lg" aria-label="Left Align"> 
				Download
		</div>
	    <div class="col-md-4"> 
			<button ng-click="deleteFile(file)" type="button" class="btn btn-danger btn-block fa fa-trash fa-lg" aria-label="Left Align"> 
				Delete
			</button>
		</div>
	</div>
</div>
<div class="modal-footer" ng-show="editMode" > 
	<div class="pull-right col-md-6">
	    <div class="col-md-6 col-md-offset2"> 
			<button ng-click="saveFileInfo(newFileInfo)" type="button" class="btn btn-success btn-block fa fa-floppy-o fa-lg" aria-label="Left Align">
				Save
			</button>
		</div>
	</div>
</div>
