<nav class="navbar navbar-default">
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
        	<a href="#/subjects">
        		Asignaturas
    		</a>
        </li>
        <li>
        	<a href="#/calendar">
        		Calendario
    		</a>
        </li>
        <li>
        	<a href="#/notes">
        		Noticias
    		</a>
        </li>
    </ul>
	<span class="uib-dropdown pull-right" uib-dropdown  on-toggle="toggled(open)">
		<a href class="uib-dropdown-toggle" uib-dropdown-toggle >
			<span>{{user.name}} ({{user.nick}})</span>
			<img alt="Brand" ng-src="{{avatar}}" class="img-circle img-thumbnail" width="48px" height="48px">
		</a>
		<ul class="uib-dropdown-menu">
			<li>
				<a href="#/profile/">See profile</a>
				<a href ng-click="logout()">Logout</a>
			</li>
		</ul>
	</span>
</nav>