<navbar></navbar>
<div class="row-offcanvas row-offcanvas-left">
	<sidebar></sidebar>
	<div id="main">
		<div class="col-md-3 text-center pull-right top-buffer"> 
			<button type="submit" class="btn btn-success btn-block fa fa-plus" ng-click="openNewNoteModal()">
				Publish
			</button>
		</div>

		<div class="container-fluid top-lg-buffer" name="filter">
			<div class="form-group row">
				<label for="filter" class="col-sm-1 form-control-label">Search</label>
				<div class="col-sm-8">
					<input class="form-control" id="filter" placeholder="Your search term" ng-model="searchText">
				</div>
			</div>
			<div class="form-group row">
				<label for="level" class="col-sm-1 form-control-label">Level</label>
				<div class="col-sm-6">
					<a class="link-filter" ng-click="openLevelModal()" id="level"> {{subjectsTree.name}}</a>
				</div>
			</div>	
		</div>

		<div class="row-fluid top-buffer notes-container" name="results">
			<ul class="nav nav-pills nav-stacked notes">
				<li ng-repeat="note in notes | filter:searchText | orderBy:'-created'">
					<a ng-click="openEditNoteModal(note)" class="note">
						<span class="label label-default">{{note.level.name}}</span>
						{{ note.topic }} 
						<i>by {{note.author.name}}</i> 
					</a>
				</li>
				<li ng-show="!notes.length">No results</li>
			</ul>
		</div>
	</div>	
</div>