<navbar></navbar>
<div class="container-fluid">
	<div class="col-md-3">
		<img ng-src="{{avatar}}" class="center-block drop-box" style="max-width: 100%" ng-file-drop ng-model="newAvatar" 
        drag-over-class="dragover" ng-multiple="false" allow-dir="true"
        accept="image/*" ngf-accept=".png,.jpg,.gif"/>
	</div>
	<div class="col-md-7 col-md-offset-1 top-buffer">
		<div ng-show="editMode" id="replyForm">
			<form role="form" name="form">
				<div class="form-group">
					<label for="email">Name:</label>
					<input type="text" class="form-control" id="name" placeholder="Whats you name?" ng-model="user.name">
				</div>
				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="user.email">
				</div>
				<div class="form-group">
					<label for="text">Nickname:</label>
					<input type="text" class="form-control" id="text" placeholder="Write a nickname" ng-model="user.nick">
				</div>
				<div class="form-group">
					<label for="text">New Password:</label>
					<input type="password" class="form-control" id="text" placeholder="Write a password" ng-model="user.password">
				</div>
			</form>
		    <div class="col-md-12 text-center"> 
			    <div class="col-md-6 text-center"> 
			      <button type="submit" class="btn btn-success btn-block btn-lg fa fa-floppy-o fa-lg" ng-click="update(user, password)">
			        Save
			      </button>
			    </div>
			    <div class="col-md-6 text-center"> 
			      <button ng-click="editMode = !editMode" class="btn btn-default btn-block btn-lg fa fa-times fa-lg">
			        Cancel
			      </button>
		    	</div>
		    </div>
		</div>
		<div ng-show="!editMode">
			<ul class="list-group">
				<li class="list-group-item">{{user.name}}</li>
				<li class="list-group-item">{{user.nick}}</li>
				<li class="list-group-item">{{user.email}}</li>
				<li class="list-group-item">{{user.joined}}</li>
			</ul>
		    <div class="col-md-12 text-center"> 
				<button ng-click="editMode = !editMode" ng-show="!editMode" type="button" class="btn btn-default btn-block 
btn-lg fa fa-pencil fa-lg" aria-label="Left Align"> 
 					Edit your profile
				</button>
			</div>
		</div>
	</div>
</div>