<div class="container">
  <div class="row-fluid">
    <div class="span2">
      <img class="img-responsive center-block" src="pics/upm-icon.png"/>
    </div>
    <div class="col-md-12 offset4 text-center">
      <h2>Recover your password</h2>
    </div>
  </div>

  <form role="form" name="form">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="user.email">
    </div>
  </form>
  <div class="col-md-6 col-md-offset-3 text-center"> 
    <button type="submit" class="btn btn-primary btn-block" ng-click="sendForm(user.email)">
      Recover
    </button>
  </div>
</div>