  <!-- http://www.bootply.com/mL7j0aOINa -->
  <div id="sidebar" class="sidebar-offcanvas">
  	<div class="col-md-12">
  		<h4>
  			My subjects
  		</h4>
  		<ul class="nav nav-pills nav-stacked">
  			<li ng-repeat="subject in user.subjects">
  				<a href="#/subject/{{subject.id}}">{{ subject.name }}</a>
  			</li>
			<li ng-show="!user.subjects.length">Currently, you are not registered at any subject</li>
  		</ul>
  </div>
  <div class="col-md-10 top-buffer">
    <a role="button" ng-href="#/editSubjects" type="button" class="btn btn-default btn-block btn fa fa-pencil fa" aria-label="Left Align"> 
      Edit
    </a>
  </div>
</div>