<div class="animate-switch-container"
    ng-switch on="signedup">
  <div class="row-fluid">
    <div class="span2">
      <img class="img-responsive center-block" src="pics/upm-icon.png"/>
    </div>
    <div class="col-md-12 offset4 text-center">
      <h2>User sign up</h2>
    </div>
  </div>

  <div class="container animate-switch" ng-switch-when="false">
    <form role="form" name="form">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="user.email">
      </div>
      <div class="form-group">
        <label for="name">Full name</label>
        <input type="text" class="form-control" id="name" placeholder="What's your name" ng-model="user.name">
      </div>
      <div class="form-group">
        <label for="nick">Nickname</label>
        <input type="nick" class="form-control" id="nick" placeholder="Enter nickname" ng-model="user.nick">
      </div>
      <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" ng-model="user.password">
      </div>
    </form>
    <div class="col-md-6 col-md-offset-3 text-center"> 
      <button type="submit" class="btn btn-primary btn-block" ng-click="signUp(user)">
        Sign up
      </button>
    </div>
  </div>
  <div ng-switch-when="true">
    We've send you and email. Check your inbox and confirm your account. 
  </div>
</div>