<navbar></navbar>
<div class="row-offcanvas row-offcanvas-left">
	<sidebar></sidebar>
	<div id="main">
		<div class="row-fluid left-md-buffer">
			<h2>{{subjectsTree.name}} subjects' tree</h2>
		</div>
		<div class="left-md-buffer top-md-buffer">
			<ul class="nav nav-pills nav-stacked">
				<span class="subjects-header" ng-repeat="node in returnStack">
					<a ng-click="navigateTo(node.id)">{{ node.name }}</a> >  
				</span>
			</ul>
		</div>
		<div class="left-lg-buffer top-buffer">
			<ul class="nav nav-pills nav-stacked subjects-list list-group">
				<li ng-repeat="node in showingSubjectsTree.children">
					<a ng-click="navigateTo(node.id)">{{ node.name }}</a>
				</li>
			</ul>
		</div>
	</div>	
</div>