body{
	#map-canvas {
		height: 100%;
		margin: 0px;
		padding: 0px
	}	

	.search-field span{
		display : block;
	}
	#searchResults{
		.name{
			cursor: pointer;
		}
	}
	.active{
		background-color:#8ec16d;
	}
	#searchResultsList{
		.name{
			cursor : pointer;
		}
	}	
	.container-fliud .name:hover{
		background-color: #E58079;
	}
}

#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color:#f5f5f5;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
#main {
  height:100%;
  overflow:auto;
}
.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.drop-box {
    border: 5px dashed #DDD;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
}
    
.row-offcanvas-left{
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}