$light-blue: #ecf4fb;

body{

	#map-canvas {
		height: 100%;
		margin: 0px;
		padding: 0px
	}	

	.search-field span{
		display : block;
	}
	#searchResults{
		.name{
			cursor: pointer;
		} 
	}
	.active{
		background-color:#8ec16d;
	}
	#searchResultsList{
		.name{
			cursor : pointer;
		}
	}	 
	.container-fliud .name:hover{
		background-color: #E58079;
	}
}

#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color:#f5f5f5;
  float: left;
  height:93%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
#main {
  overflow:auto;
}
.button {
  -moz-appearance: button;
  /* Firefox */
  -webkit-appearance: button;
  /* Safari and Chrome */
  padding: 10px;
  margin: 10px;
  width: 70px;
}
.drop-box {
  border: 2px dashed #aaceec;
  padding-top: 25px;
  margin: 10px;
}
.dragover {
  border: 4px dashed #aace4e;
}

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
  }

  .row-offcanvas-left{
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}

.top-buffer {
  margin-top: 16px;
}

.top-md-buffer {
  margin-top: 24px;
}

.top-lg-buffer {
  margin-top: 64px;
}

.link-filter:hover {
    cursor: pointer;
}

.container {
  padding-left: 24px;
}

div.notes-container{
  margin-left: 12px;
  margin-right: 12px;
}

ul.nav.nav-pills.nav-stacked.notes {

  a.note {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    color: black;
    padding-right: 12px;
    border: none;
    padding: auto  12px;
    
    span.label {
      font-weight:lighter;
      font-size: 18px;
      margin-right: 16px;
    }
    i {
      font-size: 14px;
    }
  }

  a.note:hover {
    background-color: $light-blue !important; 
    cursor: pointer;
  }
}

.navbar {
  margin-bottom: 2px;
}