body{
	#map-canvas {
		height: 100%;
		margin: 0px;
		padding: 0px
	}	

	.search-field span{
		display : block;
	}
	#searchResults{
		.name{
			cursor: pointer;
		}
	}
	.active{
		background-color:#8ec16d;
	}
	#searchResultsList{
		.name{
			cursor : pointer;
		}
	}	
	.container-fliud .name:hover{
		background-color: #E58079;
	}
}